<po-page-list p-title="Empresas Cadastradas">
    <po-list-view [p-items]="companyList" [p-actions]="actions">

        <ng-template p-list-view-content-template let-item [p-title]="formatTitle">
            <div class="po-row">
                <po-info class="po-lg-2" p-label="CNPJ" [p-value]="item.cnpj"></po-info>
                <po-info class="po-lg-3" p-label="Nome" [p-value]="item.name"></po-info>
                <po-info class="po-lg-3" p-label="Descrição" [p-value]="item.description"></po-info>
                <po-info class="po-lg-2" p-label="Endereço" [p-value]="item.address"></po-info>
                <po-info class="po-lg-2" p-label="Funcionários" [p-value]="item.workers"></po-info>
            </div>
        </ng-template>

    </po-list-view>
</po-page-list>